.footer {
  margin: 100px 200px 20px 200px;
}
.footer .top {
  display: flex;
  gap: 50px;
}
.footer .top .item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  align-items: flex-start;
}
h1 {
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

span {
  color: gray;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
}
.footer .left {
  display: flex;
  align-items: center;
}
.footer .left .logo {
  color: 2879fe;
  font-weight: bold;
  font-size: 1.5rem;
}
.footer .left .copyright {
  margin-left: 20px;
  font-size: 0.7rem;
  color: gray;
}
.footer .right img {
  height: 50px;
}

@media (max-width: 768px) {
  .footer {
    margin: 50px 20px;
  }

  .footer .top {
    display: none;
    flex-direction: column;
    gap: 20px;
  }

  .footer .top .item {
    align-items: center;
    text-align: center;
  }

  .footer .bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
  }

  .footer .left {
    margin-bottom: 10px;
  }
}
