.footer {
  margin: 100px 200px 20px 200px;
}
.footer .top {
  display: flex;
  gap: 50px;
}
.footer .top .item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  align-items: flex-start;
}
h1 {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

span {
  color: gray;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.footer .left {
  display: flex;
  align-items: center;
}
.footer .left .logo {
  color: 2879fe;
  font-weight: bold;
  font-size: 24px;
}
.footer .left .copyright {
  margin-left: 20px;
  font-size: 12px;
  color: gray;
}
.footer .right img {
  height: 50px;
}
